{% extends 'navbar.html' %}
{% block nav %}
      <h2 class="bg-secondary text-white text-center">E-Gadgets</h2>
      
      {% if messages %}
      {% for i in messages %}
      {% if i.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
      <div class="alert alert-success alert-dismissible">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong>{{i}}</strong> 
        </div>
      {% endif%}
      {% if i.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
      <div class="alert alert-danger alert-dismissible">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong>{{i}}</strong> 
        </div>
      {% endif %}
  
      {%endfor%}
  {% endif%}

<div class="row jumbotron p-3">
  {% for i in data %}
  <div class="card col-4 mb-3">
    <img src="{{i.image.url}}" class="card-img-top" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{i.name}}</h5>
      <p class="card-text">{{i.category}}</p>
      <p class="card-text">RS:{{i.price}}/-</p>
    </div>
    
  </div>
  {%endfor%}
</div>
{% endblock nav%}
   